@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
* body {
    margin: 0;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    position: relative;
    color: white;
}
main {
    
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
    /* background: ; */
    background-image: 
    linear-gradient(to top, #56568F, rgba(13, 50, 197, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
}
.title {
    padding-top: 40px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.sub-title {
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
.form {
    background-color: rgba(28, 29, 49, 0.9);
    border-radius: 3px;
    padding: 40px;
    margin-top: 30px;
}












































