@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2, {
  margin: 0;
}
* body {
    margin: 0;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    position: relative;
    color: white;
}
main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-image: 
        linear-gradient(to top, #56568F, rgba(13, 50, 197, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
}


/*     Title    */
.title {
    padding-top: 40px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.sub-title {
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}


/*     Form Container   */
.form {
    background-color: rgba(28, 29, 49, 0.7);
    border-radius: 3px;
    padding: 40px;
    margin-top: 30px;
}
.form__label {
    display: block;
    margin: 35px 0 10px 0;
}
.form__label:first-child {
    margin: 0 0 10px 0;
}
.form__fild {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-style: inherit;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}
input::placeholder {
    opacity: 0.7;
}


/*    Checkbox/Radio  */
.checkbox, .radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox__btn, .radio__btn{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


/*     Text Area    */
.text-area {
    display: block;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    max-height: 400px;

    border: none;
    border-radius: 5px;
    padding: 20px;

    font-size: 20px;
    font-style: inherit;
}
textarea::placeholder {
    font-size: 20px;
    font-style: inherit;
}


/*     Submit Button*/
.submit-btn {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-style: inherit;
    font-size: 20px;
    color: white;
    background-color: #37AF65;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
.submit-btn:hover {
    background-color: #067631;
    transition: 0.3s;
}


























